/*Barra de navegación*/

.navbar{
  background-color: rgba(139, 139, 139, 0.95);
}

.navbar-collapse{
  align-items: center;
  justify-content: center;
  
}

/* Estilos generales */
section{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Sofadi One", cursive;
  font-weight: bolder;
}

p{
  font-family: 'Quicksand', sans-serif;
}

.seccion-oscura{
  color: white;
  background-color: #0b0b0b;
}

.seccion-clara{
  color: black;
  background-color: white;
}

.seccion-titulo{
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 15px;
  font-family: "Sofadi One", cursive;
  text-align: center;
}

.seccion-descripcion{
  font-size: 1.2rem;
  color: #584e4e;
  text-align: center;
}

.seccion-texto{
  font-size: 1.2rem;
}

.section-title{
  padding: 0px 5px 5px 5px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-family: "Quicksand";
  border-bottom: 1px solid rgb(68, 68, 68);
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro{
  color: black;
}

.texto-blanco{
  color:white;
}

/* Sección Hero */
.presentacion{
  background-color: #f5f6f7;
}

.presentacion-imagen{ 
  width: 200px;
  height: 200px;
  border-radius: 50%;  /* en bootstrap este atributo sería con la clase rounded-circle*/
  margin: 50px;
  display: block;
}

/* Sección experiencia */
.experiencia{
  padding: 0px 40px 60px 40px;
  background-color: #f5f6f7;
}

.experiencia .columna{
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
  color: white;
  background-color: #1b1b32;
}

.experiencia .columna:hover .tipo-contrato{
  color: white;
}

.tipo-contrato{
  color: black;
  align-self: end;
  transition: all 0.2s ease-in;
}



/* Proyectos */
.proyectos-recientes{
  padding: 2.5rem 2.5rem 0 2.5rem;
  background-color: #f5f6f7;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
  
}

.proyectos-contenedor {
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.15;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
  justify-content: center;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Pie de página */

footer{
  padding: 0px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin:10px;
}

.footer-texto{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.iconos-redes-sociales{
  justify-content: end;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 30%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
  background-color: white;
  border: 2px solid rgb(13,110,253);
}

.iconos-redes-sociales a:hover i{
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color:#aeaeae;
}

/* Responsive */

@media screen and (max-width: 767px){

  .navbar-brand{
    display: none;
  }

  .navbar-collapse{
    justify-content: start;
  }
}

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i{
    font-size: 40px;
  }
}

@media screen and (max-width: 992px) {
  .iconos-redes-sociales{
    justify-content: center;
  }

  .derechos-de-autor{
    text-align: center;
  }
}
